body{
  background-color: yellow;
}
.list-group-item{
  border: none;
  background-color: yellow;
}
#burger-pic{
  height: 200px;
}
#add-burger{
  margin-top: 10px;
}
.btn{
  background-color: white;
  border: solid 1px black;
}